.navbar-col {
  height: 70vh;
  padding-top: 0.5rem;
  margin-left: -1rem;
  padding-left: 1rem;
}

.app-container {
  background-color: #14161b;
  min-height: 101vh;
  
}

@media only screen and (max-width: 1200px) {
  .app-container {
    min-height: 110.5vh;
  }
}

@media only screen and (max-width: 900px) {
  .app-container {
    min-height: 113vh;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-col {
    height: auto;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
